body {
  background-color: #daeb6c;} 

h1 {font-family: Impact, fantasy;
font-size: 80px;
line-height: 1.42857143;
color: #123a91;}

.h2inthebox {font-family: Impact, fantasy;
font-size: 40px;
line-height: 1.42857143;
color: #daeb6c;} 

h3 {font-family: Noto Sans, sans-serif;
font-size: 20px;
line-height: 1.42857143;
color: #daeb6c;}

h4{font-family: Noto Sans, sans-serif;
font-size: 15px;
line-height: 1.42857143;
color: #daeb6c;}

.intro-post {
  width: 350px; border: 10px;
  display: inline-block;
  background: #123a91;
  color: #fff;
  padding: 10px;
  margin: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 40px;
}

.h2colorchange {
    font-family: Impact, fantasy;
    font-size: 40px;
    line-height: 1.42857143;
    color: #123a91; 
}

a {
    text-decoration: none;
    color: #daeb6c; 
}


a:visited {
    color: #daeb6c;
}

.h2colorchange a {
    color: #123a91; 
    text-decoration: none; 
}


.h2colorchange a:visited {
    color: #123a91;
}

.h2weekscolorchange {
    font-family: Noto Sans, sans-serif;
    font-size: 20px;
    line-height: 1.42857143;
    color: #123a91; 
}
