body {
  background-color: #123a91;} 

h1 {font-family: Impact, fantasy;
font-size: 80px;
line-height: 1.42857143;
color: #daeb6c;}

h2 {font-family: Impact, fantasy;
font-size: 50px;
line-height: 1.42857143;
color: #daeb6c;} 

h4{font-family: Noto Sans, sans-serif;
font-size: 15px;
line-height: 1.42857143;
color: #daeb6c;}

ol type="1"{font-family: Impact, fantasy;
font-size: 50px;
line-height: 1.42857143;
color: #daeb6c;} 