body {background-color: #59546C
}


h1{
	font-family: Palatino, serif;
	font-size: 60px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #0E131F;
	text-align: center;
	margin-top: 35vh;
}

@media screen and (min-width: 768px)
/*styles for screen sizes 768px and above */

body {background-color: #8B939C
}

h1{
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #0E131F;
	text-align: center;	
	margin-top: 45vh;
}
