/* layout styles */
body {
  margin: 0;
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  line-height: 1.5;
  color: #333333;
}
main {
  width: 70vw;
  margin: 100px auto;
}
hr {
  margin: 50px 0 25px;
  border: none;
  border-bottom: 2px solid tomato;
}

/* image styles */


/* type styles */
h1, h2, h3, h4, h5, h6 {
  margin: 3rem 0 1rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}
h1 {
  margin-top: 0;
  font-size: 5.653rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
h2 {
  font-size: 3.998rem;
  margin-bottom: 0;
}
h3 {
  font-size: 2.827rem;
}
h4 {
  font-size: 1.999rem;
}
h5 {
  font-size: 1.414rem;
}
h6 {
  margin: 0;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .5px;
}
p {
  font-size: 1.2rem;
  margin: 0 0 1rem;
}
.large-text {
  font-size: 2rem;
  line-height: 1.45;
}
/* link styles */
a, a:link, a:visited, a:active {
  color: black;
  text-decoration: none;
}
a:hover {
  color: tomato;
}

/* button styles */
button {
  outline: none;
  border: 3px solid #333333;
  margin: 25px 0 0;
  padding: 3px 5px;
  background-color: white;
  transition: background-color ease 1s;
}
button:hover {
  background-color: tomato;
}
button a, button a:link, button a:visited, button a:active {
  border: none;
}
button a:hover {
  color: black;
}

/* media queries */
@media screen and (max-width: 800px) {
  h1 {
    font-size: 4.653rem;
  }
  h2 {
    font-size: 2.998rem;
  }
  h3 {
    font-size: 1.827rem;
  }
  h4 {
    font-size: 1.6rem;
  }
  h5 {
    font-size: 1.214rem;
  }
  h6 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
  .large-text {
    font-size: 1.5rem;
  }
}